/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
 @font-face {
  font-family: "mkHelvetica";
  font-weight: 400;
  font-style: normal;
  src: url(../media/fonts/Helvetica\ Neue\ thin.ttf) format("ttf");
 }
 /*@font-face {
  font-family: "fontawesome";
  font-weight: 400;
  font-style: normal;
  src: url(../media/fonts/webfonts/fa-brands-400.ttf) format("ttf");
 }*/
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
:root {
  --mk__blue: rgb(20 45 80);
  --text-color: #000;
  --mk__grey: #808080;
  --mk__lightgrey: #cfcfcf;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "mkHelvetica", sans-serif;
  color: var(--mk__blue);
  font-size: 25px;
  font-weight: lighter;
}
p {
  font-family: "mkHelvetica", sans-serif;
  font-size: 18px;
  color: var(--mk__blue);
}
.mk__footer {
  background-color:var(--mk__lightgrey);
}

.divider {
  height: 1px;
  background-color: #e0e0e0;
}

/*========================================================================== 
                    ГЛАВНАЯ*/
.logo-wrap {
  text-align: center;
}
.logo__link {
  position: absolute;
  z-index: 2;
  display: block;
}
.logo {
  max-width: 100%;
}
.header {
  position: relative;
  width: 100%;
  z-index: 3;
  background-color: var(--mk__blue);
  display: block;
}
.header__container {
  max-width: 1580px;
  /*max-height: 73px;*/
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;

}
.header__nav--wrap {
  text-align: center;
  padding: 0;
  justify-content: center;
  display: block;
}
.nav {
  text-align: center;
  line-height: 1;
  /*margin-top: 23px;
  margin-bottom: 23px;*/
}
.nav__item {
  display: inline-block;
  font-family: "mkHelvetica", sans-serif;
  line-height: 1.5;
  color:var(--mk__grey);
  font-weight: normal;
  text-transform: uppercase;
  margin-right: 55px;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  letter-spacing: 4px;
  padding-top: 23px;
  padding-bottom: 23px;

}
.nav__item:hover {
  color: #ffffff;
}
.nav__item:last-child {
  margin-right: 0;
}
.slider__wrap {
  position: relative;
  height: 100%;
  display: block;
  overflow: hidden;
}

.owl-one .owl-buttons {
  position: relative;
}
.owl-one .owl-prev {
  position: absolute;
  left: 0;
  top: 40%;
  color:rgb(247, 247, 247) !important;
  background-color: transparent !important;
  outline: none;
}

.owl-one .owl-next {
  position: absolute;
  right: 0;
  top: 40%;
  color: rgb(247, 247, 247) !important;
  background-color: transparent !important;
  outline: none;
} 
.owl-one .owl-dots {
  position: relative;
  padding-top: 0;
  margin-top: -50px;
  z-index: 3;
  outline: none;
}
.owl-one .owl-dot {
  outline: none;
}

.cosmetics__title {
  display: block;
  padding-top: 30px;
  text-align: center;
}

.cosmetics__item {
  position: relative;
  display: block;
  justify-items: center;
}
.cosmetics__item-img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: solid;
  border-color: rgb(247, 247, 247);
  border-width: 5px;
  background-color:rgb(247, 247, 247);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  /*margin-right: 0;
  margin-left: 30%;*/
}
.cosmetics__text {
  text-align: center;
  font-size: 22px;
}
.cosmetics__foto {
  width: 373px;
  height: 215px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cosmetics__carousel {
  position: relative;
  height: 100%;
  display: block;
  margin-bottom: 10px;
}
.owl-two .owl-buttons {
  position: relative;
}
.owl-two .owl-prev {
  position: absolute;
  left: -30px;
  top: 15%;
  color:#f0f0f0 !important;
  background-color: transparent !important;
  outline: none;
}
.owl-two .owl-next {
  position: absolute;
  right: -30px;
  top: 15%;
  color: #f0f0f0 !important;
  background-color: transparent !important;
  outline: none;
} 

.fa-4x:hover {
  color: #869791;
}

.stuff__item{
  position: relative;
  display: block;
  text-align: center;
  font-size: 22px;
}
.stuff__foto {
  width: 373px;
  height: 215px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.stuff__title {
  font-size: 22px;
}
.footer {
  padding-bottom: 20px;
}
.footer__item-content {
  margin-left: 30px;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 30px;
  text-align: left;
  font-size: 14px;
  text-decoration: none;
}
.footer__item-title {
  font-size: 14px;
  font-family: "mkHelvetica", sans-serif;
  font-weight: bolder;
  color: var(--mk__blue);
  display: inline-block;
  margin-top: 20px;
}
.footer__item-links {
  font-size: 14px;
  font-family: "mkHelvetica", sans-serif;
  color: var(--mk__blue);
  display: inline-block;
  text-decoration: none;
  line-height: 7px;
}

.fa-envelope-o,
.fa-vk,
.fa-instagram {
  color: var(--mk__blue);
  font-size: 4em !important;
  margin-top: 20px;
  margin-right: 20px;
  text-decoration: none;
}

.fa-envelope-o:hover,
.fa-vk:hover,
.fa-instagram:hover {
  color: #7dd2eb;
}
.burger,
.nav__item-respons {
  display: none;
}
@media screen and (max-width: 1275px) {

  .header__respons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .burger {
      display: block;
      width: 50px;
      margin-top: 18px;
      margin-bottom: 8px;

    }
  .burger:hover {
      cursor: pointer;
    }
  .burger.is-active {
      height: 30px;
    }
  .burger__line {
      width: 50px;
      height: 5px;
      margin-bottom: 10px;
      background-color: var(--mk__grey);
      position: relative;
      border-radius: 15%;
    }
  .burger.is-active .burger__line-top {
      transform: rotate(-45deg);
      top: 15px;
      background-color: var(--mk__grey);
    }
    .burger.is-active .burger__line-middle {
      display: none;
    }
  .burger.is-active .burger__line-bottom {
      transform: rotate(45deg);
      background-color: var(--mk__grey);
    }
    .burger.is-active {
      margin-bottom: 34px;
    }
  /*.nav__item-respons {
    display: inline;
    font-family: "mkHelvetica", sans-serif;
    color:#fff;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    letter-spacing: 4px;
  }
  .nav__item-respons.is-active {
    display: none;
  }*/
 .header__container {
      display: block;
  } 

  .header__container.is-active {
    max-height: none;
  }
  .header__nav--wrap {
      text-align: center;
      display: none;
      background-color: var(--mk__blue);
      
    }
 /*.header__nav--wrap.is-active {
      display: block;
    }*/
  .nav--header {
      display: inline-block;
    }
  .nav {
    margin-bottom: 0;
  }
  .nav__item {
      display: block;
      margin-right: 0;
      margin-bottom: 0;
      padding-top: 0;
      transition: all 0.4s ease-in-out;
    }
    
    .cosmetics__foto {
      max-width: 100%;
      margin: auto;
    }

  
  }
  
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 440px) {
  .owl-one .owl-dots {
    display: none;
  }
}
/*========================================================================== */


/*==========================================================================
                АКЦИИ*/

.sales__item-img {
  width: 373px;
  height: 373px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sales__item-img:hover {
  position: relative;
  top: 0;
  background-color: var(--mk__lightgrey);
  transition: 0.3s ease-in-out;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

